.inicio{
    footer{
        .navbar{
            .container{
                .pie{
                    @include colorSize (#ffffff, 11px);
                    height: fit-content;
                }           
                .pie__cajaIconos{
                    width: fit-content;
                    flex-direction: row;
                    background-image: none;
                    gap: 2rem;                    
                }
            }
        }
    }
}
