.inicio{
    footer{
        .navbar{
            .container{
                .pie{
                    color: #ffffff;
                    height: fit-content;
                    font-size: 11px;
                }           
                .pie__cajaIconos{
                    width: fit-content;
                    flex-direction: row;
                    background-image: none;
                    gap: 6rem;
                    
                }
            }
        }
    }
}


// .footer{
//     margin-top: 10px;
// }

// .pie{
    
// }

// .imagen{
//     height: fit-content;


// }

// .barra__iconos--pie{
    
// }