.inicio{
    .row{
        .navbar{
            .container{
                .navbar-brand{
                    .logoCab{
                        width: 150px;
                        padding-left: 10px;
                    }
                }
                .navbar-toggler{
                    --bs-navbar-toggler-border-color:none;
                    color: $font-color-nav;
                }   
                .collapse{
                    .navbar-nav{
                        .menuItem{
                            .nav-link{
                                color: $font-color-nav;
                            }
                            &:hover{
                                background-color: rgb(245, 201, 82);
                                border-radius: 15px;
                                transform: translateY(-7px);
                                .nav-link{
                                    color: $theme-color1;
                                }
                            } 
                            &:active{
                                color: $theme-color2;
                            }                   
                        }
                    }
                }                
            }
        }
    }  
}