.inicio{
    background-image: linear-gradient(to bottom, #000000, #444444);
        .row{
            .navbar{
                .container{
                    .navbar-brand{
                        .logoCab{
                            width: 150px;
                        }
                    }
                    .navbar-toggler{
                        --bs-navbar-toggler-border-color:none;
                        color: $font-color-nav;
                    }                   
                }
            }
        }  
}



// .container-fluid{
//     padding: 0;
//     .row{
//         .navbar{
//             background-color: #000000;
//             --bs-navbar-color:#ffffff;
//             font-family: 'Oswald', sans-serif;
//             font-size: 20px;
//             .container{
//                 .navbar-brand{
//                     .logoCab{
//                         width: 200px;
//                         padding-left: 20px;
//                     }
//                 }
//                 .navbar-toggler{
//                     .icono{
//                         color: #ffffff;
//                     }
//                 }
// //menu desplegable
//                 .collapse{
// //cambio de color navbar
//                     .navbar-nav{
//                         --bs-nav-link-hover-color: #777777 ;
//                     }
                    
//                 }
//             }
//         }

//     }
// }













