// Animacion logo pagina Inicio

@keyframes desplazamientoLogo{
    0%{
        opacity: 0;
        padding-left: 100%;
        width: 300px;
    }
    75%{
        opacity: 0;
        padding-left: 50%;
    }
    100%{
        opacity: 1;
        padding-left: 0;
    }
}

// Animacion nombre pagina Inicio
@keyframes desplazamientoNombre{
    0%{
        opacity: 0;
        padding-right: 100%;
    }
    75%{
        opacity: 0;
        padding-right: 50%;
    }
    100%{
        opacity: 100%;
        padding-right: 0;
    }
}