$botones:(
    form: #212121,
    card: #f578ea,
    contacto: rgb(223, 183, 75),
);

@each $nombre, $boton in $botones{
    .boton-#{$nombre}{
        @include colorSize (#212121, 14px);
        padding: 5px 25px;
        border: unset;
        border-radius: 15px;
        z-index: 1;
        background: #e8e8e8;
        position: relative;
        font-weight: 1000;
        -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        transition: all 250ms;
        overflow: hidden;

    //Animacion boton
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            border-radius: 15px;
            background-color: $boton;
            z-index: -1;
            -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
            box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
            transition: all 250ms
        }       
        &:hover {           
            color: #f5f3f3;            
        }      
        &:hover::before {
            width: 100%;
        }
    }
}
