.inicio{
    .contacto{
        background-image: linear-gradient(to top, #410a24, #922457, #410a24);
        min-height: 85vh;
        min-width: 100%;
        .titulo--contacto{
            text-align: left;
            padding: 30px;
            border-bottom: 1px dotted #c9c0c0;
        }
        .d-flex{
            .contacto__form{ 
                padding: 40px;
            }
            .contacto__datos{
    
                padding: 40px;
            }
        }

    }
}















