.inicio{
    .giftCard{
        background-image: url(../assets/GiftCard/peluG2.jpg);
        background-size: cover;
        padding-bottom: 20px;
        .container{
            .titulo{
                color: map-get($forms, gift);
                font-family: 'The Nautigal', cursive;
                               
            }
            form{                
                .tarjeta{
                    display: flex;
                    justify-content: center;
                    margin-top: 5%;
                    margin-bottom: 5%;  
                    .tarjeta__caja {  
                        position: relative;   
                        width: 240px;
                        height: 150px;
                        border: 2px solid black;
                        border-radius: 10px;
                        display: inline-block;
                        background-color: #000000;
                        background-image: url(../assets/GiftCard/tarjeta.png);
                        background-size: cover;
                        .tarjeta__img {
                            position: absolute;
                            width: 65px;
                            margin-top: 10px;
                            margin-right: 5px;
                            margin-left: 60%;
                        }
                        .tarjeta__text {
                            @include colorSize (whitesmoke, 40px);
                            font-family: 'The Nautigal', cursive;
                            position: absolute;
                            font-weight: 400;
                            margin-left: 25%;
                            margin-top: 20%;
                        }
                        .tarjeta__num {
                            position: absolute;
                            color: #c9c0c0;
                            margin-top: 50%;
                            margin-left: 10%;
                        }
                    }
                }
            }
        }
    }
}






















/* Color de fondo de formulario Gift */


