.inicio{    
    .servicios{
        background-color: $theme-color2;
        .cajaTarjetas{
            padding: 20px;
            gap: 30px;
            .cajaTarjetas__unidad{
                padding: 20px;
                .cajaTarjetas__imagen{
                    background-image: url(../../../assets/Servicios/Corte1.jpeg);
                    background-size: cover;
                    border-radius: 10px;
                    width: 17rem;
                    height: 410px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                }
                .cajaTarjetas__imagen--global{
                    background-image: url(../../../assets/Servicios/Global1.jpeg);
                }
                .cajaTarjetas__imagen--bala{
                    background-image: url(../../../assets/Servicios/Bala1.jpeg);
                }
                .cajaTarjetas__imagen--flam{
                    background-image: url(../../../assets/Servicios/Flam1.jpeg);
                }
                .cajaTarjetas__imagen--baño{
                    background-image: url(../../../assets/Servicios/Baño1.jpeg);
                }
                .cajaTarjetas__imagen--gorra{
                    background-image: url(../../../assets/Servicios/Gorra1.jpeg);
                }                
                .cajaTarjetas__imagen--local{
                    background-image: url(../../../assets/Servicios/Local1.jpeg);
                }
            }           
        }    
    }
}













