.inicio--servicios{    
    .servicios{
        
        .cajaTarjetas{
            padding: 20px;
            gap: 30px;
            .cajaTarjetas__unidad{
                padding: 20px;
                .cajaTarjetas__imagen{
                    background-size: cover;
                    border-radius: 10px;
                    max-width:5rem;
                    max-height: 410px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                }
                .card-body{
                    .card-title{
                        font-weight: 600;
                    }
                }
            }           
        }    
    }
}













