.inicio{
    .turnos{
        background-image: url(../assets/Turnos/beautiful-girl-with-long-hair.jpg);
        background-size: cover;
        min-height: 80vh;
    }
}

@media screen and (min-width:992px) {
    .inicio{
        .turnos{
            background-image: url(../assets/Turnos/imgturnos.jpg);
            background-size: cover;
            .container{
                .titulo{
                    color: #1a1919;
                }
            }
        }       
    }    
}







