@import "./utilities/variables";
@import "./utilities/images";

@import "./base/typo";

@import "./components/animations";
@import "./components/buttons";

@import "./layout/footer";
@import "./layout/forms";
@import "./layout/header";

@import "./views/home";
@import "./views/turnos";
@import "./views/giftCard";
@import "./views/servicios";
@import "./views/contact";

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: $font-color-nav;
}

