*{
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Comienzo de Inicio */
.cuerpo{
    background-image: url(../assets/Inicio/portada.jpg);
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}

a{
    text-decoration: none;
    color: #ffffff;
}



.inicio{
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.barra{
    background-color: #000000;
    
}

.barra__iconos{
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

/* Fin de Inicio */

/* Comienzo turnos */

.container-fluid{
    padding: 0;
}

.navbar{
    background-color: #000000;
    --bs-navbar-color:#ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.navbar-collapse{
    flex-grow: 0;
    text-align: center;
}



.logo{
    width: 200px;
}

.icono{
    color: #ffffff;
}




