@media screen and (min-width: 1024px) {

    .cabecera{
        font-size: 23px;
    }

    .cabecera__menu{
        margin-left: 25px;
    }

    .cuerpo{
        background-image: url(../assets/Inicio/Portada2.jpg);
    }

    .cuerpo__frase{
        color: #ffffff;
        text-shadow: 2px 2px #272727;
    }

    .cuerpo__logo{
        justify-self: right;
    }
    
    .body--turnos{
        background-image: url(../assets/Turnos/imgturnos.jpg);
    }

    .turnos__form{
        background-image: url(../assets/Turnos/imgturnos.jpg);
    }

    .turnos__form--gift{
        background-image: url(../assets/GiftCard/peluG2.jpg);
    }

    .form__info--gift{
        text-shadow: 3px 3px 3px #ffffff;
    }

    .form--giftCard{
        display: flex;
    }

    .tarjeta{
        align-items: center;
        margin: 30px;
    }

    .tarjeta__caja{
        width: 400px;
        height: 250px;
    }

    .tarjeta__img{
        width: 130px;
    }

    .tarjeta__text{
        font-size: 32px;
    }

    .contacto{
        flex-direction: row;
    }
}