@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap");
.logoCab {
  width: 150px;
}

.fondo {
  width: 100%;
  height: 100vh;
}

@media screen and (min-width: 992px) {
  .inicio .container-fluid .fondo {
    width: 65%;
    margin-top: 0;
    margin-left: -10%;
  }
}
* {
  margin: 0;
  padding: 0;
}

.inicio {
  font-family: "IBM Plex Sans", sans-serif;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.titulo, .titulo--sub, .titulo--contacto {
  color: #f0f0f0;
  font-size: 50px;
  text-align: center;
}
.titulo--contacto {
  font-size: 25px;
  text-align: left;
  border-bottom: 1px dotted #c9c0c0;
}
.titulo--sub {
  font-size: 60px;
}

@media screen and (min-width: 992px) {
  .titulo--contacto {
    font-size: 50px;
  }
}
@keyframes desplazamientoLogo {
  0% {
    opacity: 0;
    padding-left: 100%;
    width: 300px;
  }
  75% {
    opacity: 0;
    padding-left: 50%;
  }
  100% {
    opacity: 1;
    padding-left: 0;
  }
}
@keyframes desplazamientoNombre {
  0% {
    opacity: 0;
    padding-right: 100%;
  }
  75% {
    opacity: 0;
    padding-right: 50%;
  }
  100% {
    opacity: 100%;
    padding-right: 0;
  }
}
.boton-form {
  color: #212121;
  font-size: 14px;
  padding: 5px 25px;
  border: unset;
  border-radius: 15px;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}
.boton-form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}
.boton-form:hover {
  color: #f5f3f3;
}
.boton-form:hover::before {
  width: 100%;
}

.boton-card {
  color: #212121;
  font-size: 14px;
  padding: 5px 25px;
  border: unset;
  border-radius: 15px;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}
.boton-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #f578ea;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}
.boton-card:hover {
  color: #f5f3f3;
}
.boton-card:hover::before {
  width: 100%;
}

.boton-contacto {
  color: #212121;
  font-size: 14px;
  padding: 5px 25px;
  border: unset;
  border-radius: 15px;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}
.boton-contacto::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: rgb(223, 183, 75);
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}
.boton-contacto:hover {
  color: #f5f3f3;
}
.boton-contacto:hover::before {
  width: 100%;
}

.inicio footer .navbar .container .pie {
  color: #ffffff;
  font-size: 11px;
  height: fit-content;
}
.inicio footer .navbar .container .pie__cajaIconos {
  width: fit-content;
  flex-direction: row;
  background-image: none;
  gap: 2rem;
}

.form-turnos {
  backdrop-filter: blur(15px);
  color: #f5f5f5;
}
.form-turnos .form-floating .input {
  line-height: 28px;
  width: 100%;
  border: 2px solid transparent;
  border-bottom-color: #777;
  padding: 0.2rem 0;
  outline: none;
  background-color: transparent;
  color: #f5f5f5;
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.form-turnos .form-floating .input:focus, .form-turnos .form-floating .input:hover {
  outline: none;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  border-color: #7a9cc6;
}
.form-turnos .form-floating .input::placeholder {
  color: #f5f5f5;
}
.form-turnos .form-floating .input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}

@media screen and (min-width: 992px) {
  .form-turnos {
    color: #0d0c22;
  }
  .form-turnos .form-floating .input {
    color: #0d0c22;
  }
  .form-turnos .form-floating .input::placeholder {
    color: #0d0c22;
  }
}
.form-gift {
  backdrop-filter: blur(15px);
  color: #0d0c22;
}
.form-gift .form-floating .input {
  line-height: 28px;
  width: 100%;
  border: 2px solid transparent;
  border-bottom-color: #777;
  padding: 0.2rem 0;
  outline: none;
  background-color: transparent;
  color: #0d0c22;
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.form-gift .form-floating .input:focus, .form-gift .form-floating .input:hover {
  outline: none;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  border-color: #7a9cc6;
}
.form-gift .form-floating .input::placeholder {
  color: #0d0c22;
}
.form-gift .form-floating .input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}

@media screen and (min-width: 992px) {
  .form-gift {
    color: #0d0c22;
  }
  .form-gift .form-floating .input {
    color: #0d0c22;
  }
  .form-gift .form-floating .input::placeholder {
    color: #0d0c22;
  }
}
.inicio .row .navbar .container .navbar-brand .logoCab {
  width: 150px;
  padding-left: 10px;
}
.inicio .row .navbar .container .navbar-toggler {
  --bs-navbar-toggler-border-color:none;
  color: #ffffff;
}
.inicio .row .navbar .container .collapse .navbar-nav .menuItem .nav-link {
  color: #ffffff;
}
.inicio .row .navbar .container .collapse .navbar-nav .menuItem:hover {
  background-color: rgb(245, 201, 82);
  border-radius: 15px;
  transform: translateY(-7px);
}
.inicio .row .navbar .container .collapse .navbar-nav .menuItem:hover .nav-link {
  color: #000000;
}
.inicio .row .navbar .container .collapse .navbar-nav .menuItem:active {
  color: #ffffff;
}

.inicio {
  overflow-x: hidden;
  min-height: 100vh;
}
.inicio .inicio__fondo {
  position: relative;
}
.inicio .inicio__fondo .inicio__logoNombre {
  position: absolute;
  flex-direction: column;
}
.inicio .inicio__fondo .inicio__logoNombre .inicio__logo .logo {
  width: 20rem;
}
.inicio .inicio__fondo .inicio__logoNombre .inicio__nombre .nombre {
  width: 20rem;
}

@media screen and (min-width: 992px) {
  .inicio .inicio__fondo {
    background-image: linear-gradient(to bottom, #000000, #000000, #ffffff);
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .inicio .inicio__fondo .fondo {
    margin-top: 0;
  }
  .inicio .inicio__fondo .inicio__logoNombre {
    position: absolute;
    flex-direction: row;
    backdrop-filter: blur(15px);
    justify-content: center;
    width: 50%;
    height: 400px;
    right: 0;
    border-radius: 30px 0px 0px 30px;
    -webkit-border-radius: 30px 0px 0px 30px;
    -moz-border-radius: 30px 0px 0px 30px;
    -ms-border-radius: 30px 0px 0px 30px;
    -o-border-radius: 30px 0px 0px 30px;
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.033), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.053), 12.5px 12.5px 10px rgba(0, 0, 0, 0.068), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.082), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.099), 100px 100px 80px rgba(0, 0, 0, 0.14);
  }
  .inicio .inicio__fondo .inicio__logoNombre .inicio__logo .logo {
    width: 300px;
    animation-duration: 1.5s;
    animation-name: desplazamientoLogo;
  }
  .inicio .inicio__fondo .inicio__logoNombre .inicio__nombre .nombre {
    width: 300px;
    animation-duration: 2s;
    animation-name: desplazamientoNombre;
  }
}
.inicio .turnos {
  background-image: url(../assets/Turnos/beautiful-girl-with-long-hair.jpg);
  background-size: cover;
  min-height: 80vh;
}

@media screen and (min-width: 992px) {
  .inicio .turnos {
    background-image: url(../assets/Turnos/imgturnos.jpg);
    background-size: cover;
  }
  .inicio .turnos .container .titulo, .inicio .turnos .container .titulo--contacto, .inicio .turnos .container .titulo--sub {
    color: #f5f5f5;
  }
}
.inicio .giftCard {
  background-image: url(../assets/GiftCard/peluG2.jpg);
  background-size: cover;
  padding-bottom: 20px;
}
.inicio .giftCard .container .titulo, .inicio .giftCard .container .titulo--contacto, .inicio .giftCard .container .titulo--sub {
  color: #0d0c22;
  font-family: "The Nautigal", cursive;
}
.inicio .giftCard .container form .tarjeta {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.inicio .giftCard .container form .tarjeta .tarjeta__caja {
  position: relative;
  width: 240px;
  height: 150px;
  border: 2px solid black;
  border-radius: 10px;
  display: inline-block;
  background-color: #000000;
  background-image: url(../assets/GiftCard/tarjeta.png);
  background-size: cover;
}
.inicio .giftCard .container form .tarjeta .tarjeta__caja .tarjeta__img {
  position: absolute;
  width: 65px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 60%;
}
.inicio .giftCard .container form .tarjeta .tarjeta__caja .tarjeta__text {
  color: whitesmoke;
  font-size: 40px;
  font-family: "The Nautigal", cursive;
  position: absolute;
  font-weight: 400;
  margin-left: 25%;
  margin-top: 20%;
}
.inicio .giftCard .container form .tarjeta .tarjeta__caja .tarjeta__num {
  position: absolute;
  color: #c9c0c0;
  margin-top: 50%;
  margin-left: 10%;
}

/* Color de fondo de formulario Gift */
.inicio--servicios .servicios .cajaTarjetas {
  padding: 20px;
  gap: 30px;
}
.inicio--servicios .servicios .cajaTarjetas .cajaTarjetas__unidad {
  padding: 20px;
}
.inicio--servicios .servicios .cajaTarjetas .cajaTarjetas__unidad .cajaTarjetas__imagen {
  background-size: cover;
  border-radius: 10px;
  max-width: 5rem;
  max-height: 410px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.inicio--servicios .servicios .cajaTarjetas .cajaTarjetas__unidad .card-body .card-title {
  font-weight: 600;
}

.inicio .contacto {
  background-image: linear-gradient(to top, #410a24, #922457, #410a24);
  min-height: 85vh;
  min-width: 100%;
}
.inicio .contacto .d-flex .contacto__form {
  padding: 40px;
}
.inicio .contacto .d-flex .contacto__datos {
  padding: 40px;
}

/*# sourceMappingURL=Styles.css.map */
